body {
    background-color: #0e1919;
}

h1, h2, h3, h4, p {
    text-align: center;
    color:#04ff00;
    font-family: monospace, sans serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 20px;
}

button {
    background-color: #04ff00;
    color: #0e1919;
    height: 50px;
    width: 100%;
    font-family: monospace;
    font-size: 17px;
}

button:hover {
    background-color: #0e1919;
    color: #04ff00;
}

div {
    display: flex;
    justify-content: center;

}

#comic-container {
    justify-content: center;
}

a {
    font-family: monospace;
    color: #04ff00;
}

img {
    display: flex;
    object-fit: scale-down;
    max-width: 75%;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
}