body {
    background-color: #0e1919;
}

h1 {
    text-align: center;
    color:#04ff00;
    font-size: 40px;
    font-family: monospace, sans serif;
}

h2 {
    text-align: center;
    color: #04ff00;
    font-size: 26px;
    font-family: monospace, sans serif;
}

h3 {
    text-align: center;
    color: #04ff00;
    font-size: 17px;
    font-family: monospace, sans serif;
}

h4 {
    text-align: center;
    color:#04ff00;
    font-size: 20px;
    font-family: monospace, sans serif;
}

button {
    background-color: #04ff00;
    height: 50px;
    width: 30%;
    font-family: monospace;
    font-size: 17px;
}

div {
    display: flex;
    justify-content: center;

}

a {
    font-family: monospace;
    color: #04ff00;
}

img {
    display: block;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
